<div class="card">
    <div class="card-header">
        <h4><a class="link" href="/dashboard/edit/{{id}}">{{event_title}}</a></h4>
        <button type="button" class="btn">
            {{!-- nees to take us to the single event --}}
             <a href="../views/">View</a> 
        </button> 
    </div>
</div>