<div class="card">
    <div class="card-header">
        <h4><a class="link" href="/edit-event/{{id}}">{{event_title}}</a></h4>
        <button type="button" class="btn">
            {{!-- nees to take us to the single event --}}
             <a href="/single-event/{{id}}">View</a> 
        </button> 
       <button type="submit" class="btn start btn-primary mt-3 mb-5" onclick="window.location.href = '/single-event/{{id}}'">View</button>
    </div>
</div>