<div class="rsvp vh-100">
    <div class="card">
        <h3 class="card-header"></h3>
        <section class="comment card-body">
            <div class="text">
                <p>{{user.username}}</p>
            </div>
            <div class="meta">
                <p id="messageOutput">{{rsvp_message}}</p>
            </div>
        </section>
    </div>
</div>