<div class="rsvp vh-100">
  {{#each this}}
    <div class="card">
        <h3 class="card-header"></h3>
        <section class="comment card-body">
            <div class="text">
                {{rsvp_message}}
            </div>
            <div class="meta">
                -{{user.username}}
            </div>
        </section>
    </div>
  {{/each}}
</div>