<article class="event">
    <h1>All Event's Dashboard</h1>
<div class="container">
    {{#each events as |event| }}
        {{> event-info event}}
    {{/each}}
</div>
</article>

<script src="../js/dashboard.js"></script>