<header>
            <nav class="navbar  navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        <img src="../images/logo-no-background.png" alt="logo" width="55" height="45">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="logout" href="/">Log Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
</header>

<div class="card vh-100 align-content-center d-flex">
    <h3 class="card-header text-white">Edit My Event</h3>
    <form class="card-body edit-event-form">
        <label for="event-id" class="d-none">  <input type="none" id="event-id" value="{{id}}"/></label>
      
        <label for="post-title" class="form-label">Title</label>
        <input id="event-title" name="post-title" type="text" value="{{eventName}}" class="form-input" />
        <label class="form-label" for="post-content">Description</label>
        <input id="event-description" name="post-content" type="text" value="{{eventDescription}}" class="form-input" />
        <label for="event-date" class="form-label">Event Date:</label>
        <input id="event-date" name="event-date" type="text" value="{{eventDate}}" class="form-input"/>

                <button type="submit" class="btn start btn-primary mt-3 mb-5" onclick="window.location.href = '/profile'">Update</button>
                <button type="submit" class="btn start btn-primary mt-3 mb-5" onclick="window.location.href = '/profile'">Return</button>
    </form>
</div>


<script src="../js/edit-event.js"></script>
<script src="../js/delete-event.js"></script>
<script src="../js/logout.js"></script>