<div id="carouselExampleDark" class="featured carousel carousel-dark slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
  <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="../Assets/drive in.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Friday the 13th Drive in Movie</h5>
                <p>Join us for a viewing of Friday the 13th on Friday the 13th! Drive up, pay $20 a car and dont forget to BEWARE!</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../Assets/you pick.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Mothers Day U-Pick Festival</h5>
                <p>Come spend a unique and fun day celebrating your mom with us! $10 for a basket!</p>
            </div>
        </div>
        <div class="carousel-item">
          <img src="../Assets/download.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Coders Job Fair</h5>
                <p>On June 27th UCF will be hosting a coding job fair! be there or be SQUARE!</p>
            </div>
        </div>
  </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
</div>