 <main class="homepage">
        <header>
            <nav class="navbar  navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="./">
                        <img src="../images/logo-no-background.png" alt="logo" width="55" height="45">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#about">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./signup">Sign Up</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section class="card  text-center mt-5 mb-5 hidden" id="homepage">
            <h1 class="cardbody homepgtitle">EVENT EASE</h1>
            <h2 class="lh-base fs-4">Plan Smarter Not Harder! 
                <br>
            Want an easy way to send out invites to your event? 
                <br>
            Dont want to deal with annoying groupchats? 
                <br>
            We've been there and we have got you covered!</h2>
            <button type="submit" class="btn start btn-primary mt-3 mb-5" onclick="window.location.href = '/login'">Lets Do it!</button>
        </section>
{{!-- ! CATEGORIES --}}
        <div class="container eventicons hidden">
            <div class="row">
              <div class="col-sm-3">
                <div class="box text-center">
                  <img class="img mb-4" src="../images/Untitled design.png" alt="champagne" width="115" height="105">
                  <h3 class="boxtitle">Weddings</h3>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="box text-center">
                    <img class="img mb-4" src="../images/Untitled design (2).png" alt="champagne" width="115" height="105">
                    <h3 class="boxtitle">Birthdays</h3>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="box text-center">
                    <img class="img mb-4" src="../images/Untitled design (3).png" alt="champagne" width="115" height="105">
                    <h3 class="boxtitle">Concerts</h3>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="box text-center">
                    <img class="img mb-4" src="../images/Untitled design (4).png" alt="champagne" width="115" height="105">
                    <h3 class="boxtitle">Conferences</h3>
                </div>
              </div>
            </div>
          </div>
      {{!-- !FEATURED EVENTS --}}
        <div class="align-content-center feat">
            <h4>Featured Events</h4>
        </div>
<div id="featuredEvents" class="featured hidden carousel carousel-dark slide mt-5 mb-5">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#featuredEvents" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#featuredEvents" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#featuredEvents" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
  <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img style="background-image: url('../images/drive\ in.jpeg');" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h5>Friday the 13th Drive in Movie</h5>
                <p class="drive">Join us for a viewing of Friday the 13th on Friday the 13th! Drive up, pay $20 and BEWARE!</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img style="background-image: url('../images/Upick.png');" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h6>Mothers Day U-Pick Festival</h6>
                <p class="mom">Come spend a unique and fun day celebrating your mom with us! $10 for a basket!</p>
            </div>
        </div>
        <div class="carousel-item">
          <img style="background-image: url('../images/fair.png');" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h7>Lee County Fair</h7>
                <p class="fair">Couples, besties, families, or stag, anyway you come you will have fun! 
                    <br>
                    Don,t believe me yet?
                    Fried Oreos, Rides, Petting Zoo, Fresh Lemonade.... Need I say more?</p>
            </div>
        </div>
  </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#featuredEvents" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#featuredEvents" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
</div>
{{!-- !ABOUT US --}}
        <div class="align-content-center about">
            <h4>About Us</h4>
        </div>
<div class="container-fluid about hidden">
<div class="row" id="about">
    
    <figure class="figure col ml-2 mr-2">
        <img src="../images/Screenshot 2023-04-18 at 10.37.47 AM.png" class="figure-img img-fluid rounded mx-auto pt-3">
        <div class="text-center">
        <h8>Keely Sherman</h8>
        </div>
        <ul class="text-center">
            <li>
                <a href="https://github.com/keelyybug">GitHub</a>
            </li>
            <li>
                <a href="mailto:keelysherman00@gmail.com">Email</a>
            </li>
        </ul>
        
    </figure>
    <figure class="figure col">
    <div class="col">
        <img src="../images/profile.jpg" class="figure-img img-fluid rounded mx-auto pt-3">
        <div class="text-center">
        <h8>Ashley Giraldo</h8>
        </div>
         <ul class="text-center">
            <li>
                <a href="https://github.com/Ashleyg5">GitHub</a>
            </li>
            <li>
                <a href="mailto:ashleygiraldo5@hotmail.com">Email</a>
            </li>
        </ul>
    </div>

    </figure>
    <figure class="figure col">
        <img src="../images/emily_profile.jpg" class="figure-img img-fluid rounded mx-auto pt-3">
        <div class="text-center">
        <h8>Emily McLean</h8>
        </div>
        <ul class="text-center">
            <li>
                <a href="https://github.com/emilymclean94">GitHub</a>
            </li>
            <li>
                <a href="mailto:">Email</a>
            </li>
        </ul>
    </figure>
    <figure class="figure col">
        <img src="../images/278644831_3218726995015061_563578452014659205_n.jpg" class="figure-img img-fluid rounded mx-auto pt-3">
        <div class="text-center">
        <h8>Ethan Garrison</h8>
        </div>
        <ul class="text-center">
            <li>
                <a href="https://github.com/egarrisxn">Github</a>
            </li>
            <li>
                <a href="mailto:egarrisxn@gmail.com">Email</a>
            </li>
        </ul>
    </figure>
    </div>
</div>
</div>

    </main>
    
    
    {{!-- <div class="wrapper">
                <span class="first-text">EVENT </span>
                <ul class="sec-texts">
                <li><span>HELPER</span></li>
                <li><span>BUDDY</span></li>
                <li><span>WIZARD</span></li>
                <li><span class="title">EASE</span></li>
                </ul>
            </div> --}}