 <main class="homepage">
        <header>
            <nav class="navbar  navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="../images/logo-no-background.png" alt="logo" width="55" height="45">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Help</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sign Up</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section class="card d-flex flex-column text-center mt-5 mb-5" id="homepage">
            <h1 class="cardbody homepgtitle">EVENT EASE</h1>
            <h4>Plan Smarter Not Harder! 
            Want an easy way to send out invites to your event? Dont want to deal with annoying groupchats? We've been there and we have got you covered!</h4>
            <button type="button" class="btn start btn-primary m-5">Lets Do it!</button>
        </section>
        <div class="container eventicons">
            <div class="row">
              <div class="col-sm-3">
                <div class="box text-center">
                  <img class="img mb-4" src="../images/Untitled design.png" alt="champagne" width="115" height="105">
                  <h3 class="boxtitle">Weddings</h3>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="box text-center">
                    <img class="img mb-4" src="../images/Untitled design (2).png" alt="champagne" width="115" height="105">
                    <h3 class="boxtitle">Birthdays</h3>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="box text-center">
                    <img class="img mb-4" src="../images/Untitled design (3).png" alt="champagne" width="115" height="105">
                    <h3 class="boxtitle">Concerts</h3>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="box text-center">
                    <img class="img mb-4" src="../images/Untitled design (4).png" alt="champagne" width="115" height="105">
                    <h3 class="boxtitle">Conferences</h3>
                </div>
              </div>
            </div>
          </div>
          


    </main>{{!-- <div class="wrapper">
                <span class="first-text">EVENT </span>
                <ul class="sec-texts">
                <li><span>HELPER</span></li>
                <li><span>BUDDY</span></li>
                <li><span>WIZARD</span></li>
                <li><span class="title">EASE</span></li>
                </ul>
            </div> --}}