<div class="card">
  <h3 class="card-header">Create New Event</h3>
<form id="eventform" class="card-body edit-event-form">
        <label for="event-title" class="form-label">Title</label>
        <input id="event-title" name="event-title" type="text" value="{{event.event_title}}" class="form-input" />
        <label class="form-label" for="event-description">Description</label>
        <input id="event-description" name="event-description" type="text" value="{{event.event_description}}" class="form-input" />
        <label for="event-date" class="form-label">Event Date:</label>
        <input id="event-date" name="event-date" type="text" value="{{event.event_date}}" class="form-input"/>

    <button type="submit" class="btn">Create</button>
  </form>
</div>

<script src="/js/new-event.js"></script>
