<div class="card">
  <h3 class="card-header">Create New Event</h3>
<form class="card-body edit-post-form">
        <label for="post-title" class="form-label">Title</label>
        <input name="post-title" type="text" value="{{event.event_title}}" class="form-input" />
        <label class="form-label" for="post-content">Description</label>
        <input name="post-content" type="text" value="{{event.event_content}}" class="form-input" />
        <label for="event-date" class="form-label">Event Date:</label>
        <input name="event-date" type="text" value="{{event.event_date}}" class="form-input"/>

    <button type="submit" class="btn">Create</button>
  </form>
</div>

<script src="/javascript/add-event.js"></script>
