<div class="row">
  <div class="col-auto">
    <h1>Welcome, {{first}}{{last}}!</h1>
  </div>
</div>
<div class="container">
{{#if events.length}}
<section>
    <h3>My Events</h3>
    {{#each events as |event|}}
      {{> profile-info post}}
    {{/each}}

</section>
</div>
{{/if}}


<button type="submit" class="btn"><a class="link" href="/new-event">+ New Event</a></button>



<script src="./js/profile.js"></script>