
{{#if rsvps.length}}
<section>
  <h1><a class="link" href="/single-post/{{event.id}}">{{event_title}}'s Attendees</a></h1>
    {{#each rsvps as |rsvp|}}
      {{> rsvp-info rsvp}}
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/rsvp">+ New RSVP</a></button>

<script src="../js/rsvp.js"></script>