<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="../images/logo-no-background.png" alt="logo" width="55"
                    height="45"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

    <div class="card">
      <h3 class="card-header">Sign Up</h3>

      <form id="signup-form" class="card-body">
        
        <label for="firstname-signup" class="form-label">First Name</label>
        <input id="firstname-signup" type="text" class="form-input" />

        <label for="lastname-signup" class="form-label">Last Name</label>
        <input id="lastname-signup" type="text" class="form-input" />

        <label for="username-signup" class="form-label">Username</label>
        <input id="username-signup" type="text" class="form-input" />

        <label for="email-signup" class="form-label">Email</label>
        <input id="email-signup" type="text" class="form-input" />

        <label class="form-label" for="password-signup">Password</label>
        <input  id="password-signup" type="password" class="form-input" />

        <button type="submit" class="btn">Signup!</button>
        <a class="login-link" href="/login">Log in instead</a>
      </form>
    </div>

<script src="../public/js/login.js"></script>