* {
    font-family: 'Bebas Neue', cursive;
    cursor: none;
}

body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.56) 75%, #000000 100%), url(../images/photo-1516450360452-9312f5e86fc7.avif) no-repeat center top fixed;
    background-blend-mode: darken;
    background-size: cover;
}
:root{
    --hotpink: #F72585;
    --purplepink: #B5179E;
    --lighterpurple: #7209B7; 
    --purple: #560BAD;
    --darkpurple: #480CA8;
    --violet: #3A0CA3;
    --mediumPB: #3F37C9;
    --blueblue: #4361EE;
    --skyblue: #4895EF;
    --turquiose: #4CC9F0;
    --pastelblue: #C8DFFA;
    --pastelpurple: #C5C3EF;
    --pastelpink: #F8C9F1; 
}

nav {
    background-color: #050F38;
}


.navbar-nav li a {
    color: white;
    display: flex;
    text-decoration: none;
    padding: 5px 20px;
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--hotpink) 0%, var(--turquiose) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: bottom;
    transition: all 0.25s ease-in;
}

#homepage {
    color: aliceblue;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 4%;
    font-weight: 600;
}


.start {
    font-weight: 400;
    background-color: var(--hotpink);
    border-color: var(--hotpink);
    margin-inline: 40% !important;
    box-shadow: 50% !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.start:hover, .login-btn:hover {
    color: #050F38;
    background-color: var(--turquiose);
    border-color: var(--turquiose);
}

.login-btn {
    font-weight: 400;
    background-color: var(--hotpink);
    border-color: var(--hotpink);
    margin-inline: 40% !important;
    box-shadow: 50% !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-link:hover {
    color: #050F38;
    background-size: 100% 100%;
    font-weight: 600;
}

.icons {
    color: white;
}

.eventicons {
    margin-top: -4%;
}

.homepgtitle {
    font-family: 'Bruno Ace SC', cursive;
    font-weight: 900;
    font-size: 60px;
}

.login-title {
    font-family: 'Bruno Ace SC', cursive;
    font-weight: 900;
    font-size: 35px;
}

.card {
    background-color: #01030856
}

.boxtitle {
    color: aliceblue;
}

.img {
    border: 5px solid rgba(255, 255, 255, 0.582);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.582);
   margin: 0 auto;
}
/* !CAROUSEL */

h4{
    font-size: 80px;
    font-family: 'Bruno Ace SC', cursive;
    color:white;
}
/* Change the height of the carousel */
.carousel {
    height: 500px;
  }
  /* Change the color of the carousel controls */
  .carousel-control-prev, .carousel-control-next {
    background-color: var(--purple);
    width: 100px;
  }
  
  /* Change the color of the carousel indicators */
  .carousel-indicators li {
    background-color: var(--turquiose);
  }
  
  /* Change the size of the carousel indicators */
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }
  
  /* Change the font size of the carousel captions */
.carousel-caption h5 {
    font-size: 40px;
    color: var(--pastelblue);
    -webkit-text-stroke: 1px var(--lighterpurple);
  }
  .drive {
    color: var(--pastelblue);
    -webkit-text-stroke: .5px var(--lighterpurple);
  }

  .carousel-caption h6 {
    font-size: 40px;
    color: var(--turquiose);
    -webkit-text-stroke: 1px #050F38;
  }
.mom{
    color: var(--turquiose);
    -webkit-text-stroke: .5px #050F38;
}
  .carousel-caption h7 {
    font-size: 40px;
    color: var(--pastelpink);
    -webkit-text-stroke: 1px var(--purplepink);
}
.fair{
    color: var(--pastelpink);
    -webkit-text-stroke: .5px var(--purplepink);
}
  /* Change the color of the carousel captions */
  
  .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .carousel-item {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px; /* set the desired height */
  }
 

  /* !ABOUT */

  .about {
    margin: 400px 0 75px;
  }
  .figure-img{
    justify-self: center;
  }
  .figure{
    background-color: black;
    border-radius: 20px;
    border-color: #050F38;
    justify-content: center;
  }
  h8 {
    color: white;
    font-size: 30px;
  }
  li{
    list-style: none;
  }
  .figure:hover {
    color: #050F38;
    background-color: var(--mediumPB);
    border-color: var(--turquiose);
}

li a{
    color: white;
}

section.card, 
div.eventicons, 
div.feat,
div.featured,
div.about {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 50vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.figure-img {
    width: 350px;
    height: 400px;
}
/*//! media query for image sizes need to be done */



