* {
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Bruno Ace SC', cursive; */
    font-family: 'Bebas Neue', cursive;
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url(../images/photo-1516450360452-9312f5e86fc7.avif);
    background-blend-mode: darken;
    background-size: cover;
}
:root{
    --hotpink: #F72585;
    --purplepink: #B5179E;
    --lighterpurple: #7209B7; 
    --purple: #560BAD;
    --darkpurple: #480CA8;
    --violet: #3A0CA3;
    --mediumPB: #3F37C9;
    --blueblue: #4361EE;
    --skyblue: #4895EF;
    --turquiose: #4CC9F0;
    --pastelblue: #C8DFFA;
    --pastelpurple: #C5C3EF;
    --pastelpink: #F8C9F1; 
}
nav {
    background-color: #050F38;
}


.navbar-nav li a {
    color: white;
    display: flex;
    text-decoration: none;
    padding: 5px 20px;
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--hotpink) 0%, var(--turquiose) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: bottom;
    transition: all 0.25s ease-in;
}

#homepage {
    color: aliceblue;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 4%;
    font-weight: 600;
}

.start {
    font-weight: 400;
    background-color: var(--hotpink);
    border-color: var(--hotpink);
    margin-inline: 40% !important;
    box-shadow: 50% !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.start:hover {
    color: #050F38;
    background-color: var(--turquiose);
    border-color: var(--turquiose);
}

.nav-link:hover {
    color: #050F38;
    background-size: 100% 100%;
    font-weight: 600;
    cursor: pointer;
}

.icons {
    color: white;
}

.eventicons {
    margin-top: 8%;
}

.homepgtitle {
    font-family: 'Bruno Ace SC', cursive;
    font-weight: 900;
    font-size: xxx-large;
}

.card {
    background-color: #01030856
}

.wrapper{
    font-family: 'Bruno Ace SC', cursive;
    display:flex;
}
.wrapper .first-title{
    font-size: 60px;
    color: white;
}
.wrapper .sec-text{
    height: 90px;
    line-height: 90px;
    overflow:hidden;
}
.sec-text li{
    position: relative;
    top: 0;
    font-size: 60px;
    color: var(--hotpink);
    list-style: none;
    padding: 0 20px;
    text-shadow: 0 0 10px --hotpink;
    animation: slide 12s steps(4, end) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}


.sec-texts li span{
    position:relative;
}
.sec-texts li span .title{
    color: white;
}
.sec-texts li span::before{
    overflow: hidden;
    content: ' ';
    position: absolute;
    left: 0;
    width: 400px;
    height: 90px;
    border-left: 2px solid --hotpink;
    animation: typing 1.5s steps(6) infinite alternate;
}
@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}


.boxtitle {
    color: aliceblue;
}

.img {
    border: 5px solid rgba(255, 255, 255, 0.582);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.582);
   margin: 0 auto;
}

